:root {
  --primary-color: #344e41;
  --second-color: #588157;
  --third-color: #a3b18a;
  --fourth-color: #adc178;
}
body {
  background-color: var(--third-color);
}
.hero {
  text-align: center;
}
.container {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: var(--fourth-color);
}
.introduction {
  margin: 15%;
}
.contact-section {
  margin: 1%;
}
.contact-section p {
  color: var(--primary-color);
}
.contact-section a {
  color: var(--second-color);
}
.about-section h3 {
  margin-top: 6%;
}
.portfolio h3 {
  margin-top: 0%;
}
.description-text {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}
h1,
h2,
h3 {
  text-align: center;
  color: var(--primary-color);
}
p {
  color: var(--second-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
.mobile-btns {
  display: none;
}
.buttons {
  display: flex;
  justify-content: center;
}
button {
  margin: 20px;
  padding: 7px;
  background-color: var(--third-color);
  border: none;
  border-radius: 3px;
}
button:hover {
  text-decoration: underline;
  transition: 0.5s;
}
.portfolio button {
  border: 0.1px solid black;
}
.portfolio button:hover {
  background-color: var(--fourth-color);
  transition: 0.1s;
  border: 1px solid black;
}
.back-btn {
  margin-bottom: 1%;
  text-decoration: underline;
}
footer .mail-link {
  color: var(--primary-color);
  opacity: 50%;
}
footer a:hover {
  color: var(--second-color);
}
footer .social-links {
  margin: 1%;
}
footer .social-links a {
  margin: 2%;
  color: var(--primary-color);
}
@media (max-width: 800px) {
  .self-description {
    font-size: medium;
  }
  .buttons {
    display: none;
  }
  .mobile-btns {
    display: block;
  }
  .mobile-btns .contact-btn {
    display: none;
  }
  .contact-section h3 {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  img {
    margin-top: 10%;
  }
}
